@tailwind base;
@tailwind components;
@tailwind utilities;

@import './styles/responsive.css';
/* Completely disable space-y-6 in modals */
.modal-open .space-y-6 > * {
  margin-top: 0 !important;
  margin-bottom: 0 !important;
}


/* Hide native password reveal/clear icons - EXCEPT for iOS Safari */
input[type="password"]::-ms-reveal,
input[type="password"]::-ms-clear {
  display: none;
}

/* Only hide on non-iOS devices */
@supports not (-webkit-touch-callout: none) {
  input[type="password"]::-webkit-textfield-decoration-container,
  input[type="password"]::-webkit-clear-button,
  input[type="password"]::-webkit-credentials-auto-fill-button {
    display: none;
  }
}